@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  max-width: 100vw;
  background: black;
  overflow-x: hidden;
  color: white;
  font-family: "Noto Sans", sans-serif;
}
.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .menu {
    display: flex;
    gap: 1rem;
    a {
      color: var(--foreground);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
